/* TELAS GRANDES */
@media only screen and (max-width:1301px){
    .sidebar {
        width: 240px;
    }
    .library__content .fa-plus {
        margin-left: 5px;
    }
    .main-container {
        margin-left: 240px;
    }
    


    /* Card container main */
    .section-cards{
        grid-template-columns: 1fr 1fr 1fr;

    }
}

/* TELAS MEDIAS */
@media only screen and (max-width:995px){
    .header__subscribe-login {
        display: none;
    }

    .login_button-sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscribe_button-sidebar{
        display: flex;
    }

    .header__search {
        margin-right: 239px;
    }

    .cards{
        width: 180px;
    }

    .library {
        height: 420px;
    }

    .main-container {
        width: 100%;
    }

}

@media only screen and (max-width:885px){
    .cards{
        width: 180px;
    }
    .section-cards {
    grid-template-columns: 1fr 1fr;
    }

}



/* TELAS PEQUENAS */
@media only screen and (max-width:485px){
    .sidebar{
        display: none;
    }
    
    .main-container {
        margin-left: 0px;
    }

    .header__search {
        width: 230px;
    }

    .content_footer p {
        padding: 2px;
        font-weight: 200;
    }

    .button_footer {
        margin-right: 0px;
        padding: 7px;
    }
    .cards {
        width: 290px;
        height: 170px;
    }
    .section-cards {
        grid-template-columns: 1fr;
    }
}


    

@media screen and (width: 820px) and (height: 1180px) {
  .main-container{
    width: auto;
  }
}